header, footer{
    color: white;
    background-color: #213643;
}
nav {
    background-color: #728B96;
}
h1 {
    color: blue; 
    background-color: yellow;
}
h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* 04 */
h3#reviews{
    border-bottom: solid 3pt #213643;
    color: #ed8030;
}
.first{
    color: #728B96;
    font-style: italic;
}
/* 05*/
[title ^= "Calagary"]{
    cursor: help; 
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 2px dotted blue; 
}
/* 06 */
a:link{
    font-weight: bold;
    color: #47B3D7;
}
a:visited{
    background-color: #BB78FF;
}
a:hover{
    background-color: #FFFF99;
}
nav ul li{
    list-style: none;
    display: inline;
    margin: 1em; 
}
nav{
    padding: 0.25em; 
}
nav a{
    padding: 0.25em;
}
/* 07*/
h3~p{
    color:#983C2A;
}

/* 08 
div {
    font-weight: nromal;
    color: magenta;
}
p{
    color: green; 
}

.last{
    color: blue; 
}

#verylast{
    color: orange;
    font-size: 16px;
}

/* 09  add to top of file
header, footer, nav, main, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
   margin: 0;
   padding: 0;
   font-size: 100%;
   vertical-align: baseline;
   border: 0;
}
/* do not add to top of file 
figure {
    margin: 2em;
    background-color: #EEEEEE;
    padding: 1.5em;
    border: solid 1px #999999;
}

h3+p+p{
    margin: 2em; 
}

/* 10 
figure div{
    margin-top: 0.25em;
    font-size: 70%;
    padding: 0.5em;
    width: 485px;
    background-color: #9FAAB0;
    border: solid 1px #999999;
    border-radius: 4px; 
}

figure div p{
    background: url(images/share.png) no-repeat;
    padding-left: 18px; 
    background-position: 0 4px;
}

span.share{
    display: inline-block; 
    background: url(images/glyphicons-halflings.png) no repat;
    width: 14px; 
    height: 14px;
    background-position: -120px -72px;
    padding-right: 5px; 
}

/* 11 

body {
    font-size: 100%;
}

h1 { 
  font-size: 24px;   /* for older browsers 
  font-size: 1.5rem;
}
h2 { 
  font-size: 18px; 
  font-size: 1.125rem;
}
h3 { 
  font-size: 16px; 
  font-size: 1rem;
}
p {
  font-size: 16px; 
  font-size: 1rem;
}

.first, figcaption, h3+p{
    font-size: 14px;
    font-size: .875em;
}


